h1 {
    color: red;
    font-size: 50pt;
}

.titolo {
    font-family: 'Comic Sans MS';
    text-align: center;
}

.primi {
    display: flex;
    justify-content: space-around; 
}

.secondo {
    display: flex;
    justify-content: space-around;
}

.terzi {
    display: flex;
    justify-content: space-around;
}

fieldset {
    display: flex;
    width:400px;
    height:400px;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

a {
    display: flex;
    color: red;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Comic Sans MS';
    text-decoration: none;
}

legend {
    font-style: italic;
    font-size: 30px;
}